@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.box {
  width: 400px;
  height: 400px;
  animation: 3s angle-animation infinite linear;
  background: conic-gradient(from var(--angle), red, blue);
}

@keyframes angle-animation {
  to {
    --angle: 1turn;
  }
}
