@property --box-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 100px;
}

.box {
  width: var(--box-width);
  height: 100px;
  animation: 1s box-animation infinite alternate;
  border: 1px solid #333;
}

/*.container {*/
/*  --box-width: 300px;*/
/*}*/
