.container {
  display: grid;
  grid-template-columns: auto auto;
}

.item {
  display: grid;
  border: 1px solid gray;
  grid-template-rows: subgrid;
  grid-row: span 2;
}

.item h2 {
  border: 1px dotted black;
}
