.container {
  overflow: auto;
  width: 240px;
  min-width: 240px;
  /* 要素をリサイズ可能にする設定 */
  resize: horizontal;
  border: dotted 1px #aba6a6;
  container-type: inline-size;
}

.box {
  width: 50cqw;
  height: 20px;
  background-color: red;
}
